{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <p class="card-text">Are you sure you want to log out?</p>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Log out</button>
            </form>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-2">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
