{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h1>Login</h1>
          </div>
          <div class="card-body">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                Invalid credentials. Please try again.
              </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-primary btn-block" type="submit" value="Submit">
              <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div>
          <div class="card-footer text-center">
            <p>Don't have an account? <a href="{% url 'kitchen:register' %}">Register here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
