{% extends "base.html" %}
{% load custom_filter %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Register</h2>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">{{ form.username.label }}</label>
        {{ form.username|add_class:"form-control" }}
        {% if form.username.errors %}
          <div class="text-danger">{{ form.username.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="form-label">{{ form.password.label }}</label>
        {{ form.password|add_class:"form-control" }}
        {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label class="form-label">{{ form.email.label }}</label>
        {{ form.email|add_class:"form-control" }}
        {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
{% endblock %}
